# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
SmartCalculator_env/
env/
venv/

# Django
db.sqlite3
media/

# Environment variables
.env

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store